---
import Layout from "~/layouts/Layout.astro";
import WordDefinition from "~/components/WordDefinition";
import { useWordStore, rareWords } from "~/store/wordStore";
import { fetchDefinition } from "~/utils/fetchDefinition";

const { currentWord, setDefinitionHTML } = useWordStore.getState();
const randomIndex = 0; // Or use Math.random for a random index
const selectedWord = rareWords[randomIndex];

// Set the selected word in the global store
useWordStore.setState({
  currentWord: selectedWord,
});

// Fetch definition server-side for initial render
await fetchDefinition(selectedWord);

// Determine navigation links
const previousWord =
  rareWords[(randomIndex - 1 + rareWords.length) % rareWords.length];
const nextWord = rareWords[(randomIndex + 1) % rareWords.length];
---

<Layout
  title='Today I Learned A New Word'
  description='Discover the meaning of rare and fascinating words.'
  previousWord={previousWord}
  nextWord={nextWord}
>
  <h2>Word: {selectedWord}</h2>
  <WordDefinition word={selectedWord} client:visible />
</Layout>
