---
import Layout from "~/layouts/Layout.astro";
import { useWordStore, rareWords } from "~/store/wordStore";
import { fetchDefinition } from "~/utils/fetchDefinition";

const { currentIndex, currentWord, definitionHTML } = useWordStore.getState();

// Fetch a random word on initial load
const randomIndex = Math.floor(Math.random() * rareWords.length);
useWordStore.setState({
  currentIndex: randomIndex,
  currentWord: rareWords[randomIndex],
});

const previousWord =
  rareWords[(randomIndex - 1 + rareWords.length) % rareWords.length];
const nextWord = rareWords[(randomIndex + 1) % rareWords.length];

if (!definitionHTML) {
  fetchDefinition(currentWord);
}
---

<Layout
  title='Today I Learned A New Word'
  description='Discover the meaning of rare and fascinating words.'
  previousWord={previousWord}
  nextWord={nextWord}
>
  <h2>Word: {currentWord}</h2>
  <div id='definition' set:html={definitionHTML} />
</Layout>
