---
import Layout from "~/layouts/Layout.astro";
import WordDefinition from "~/components/WordDefinition";
import { useWordStore, rareWords } from "~/store/wordStore";

const { currentWord } = useWordStore.getState();
// const randomIndex = Math.floor(Math.random() * rareWords.length);
const randomIndex = 0;
useWordStore.setState({
	currentWord: rareWords[randomIndex],
});

const previousWord =
  rareWords[(randomIndex - 1 + rareWords.length) % rareWords.length];
const nextWord = rareWords[(randomIndex + 1) % rareWords.length];
---

<Layout
  title='Today I Learned A New Word'
  description='Discover the meaning of rare and fascinating words.'
  previousWord={previousWord}
  nextWord={nextWord}
>
  <h2>Word: {currentWord}</h2>
  <WordDefinition word={currentWord} client:visible />
</Layout>
